.slider {
    position: relative;
    width: 100vw;
    height: 500px;
    margin: 0;
    overflow: hidden;
    
    left: -330px;
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 500px;
}

.slider-images img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.slider-button.prev {
    left: 10px;
}

.slider-button.next {
    right: 10px;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
